.BadgesList ul>li {
    margin-bottom: 1rem;
  }
  
  .BadgesListItem {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: flex;
    padding: 1rem;
  }
  
  .BadgesListItem__avatar {
    border-radius: 50%;
    background: #a3a3a3;
    margin-right: 0.5rem;
    width: 80px;
    height: 80px;
  }





  .BadList__container{
    border: 1px solid transparent;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    background: linear-gradient(to left, #00f260, #0575e6);
  }

  .BadList__container__text{
     padding: 5px;
     border-radius: 6px;
     display: flex;

  }

  .BadList__avatar{
    border-radius: 50%;
  }

  .BadList__container__info{
    margin-left: 20px;
  }

  .BadList__name{
    font-weight: 800;
  }

  .container__info p{
    margin:0;

  }

  .twitter{
    /*color:rgb(29 161 242);*/
    color:blue;

  }